OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_MAX_OUTPUT_TOKENS=6000
OPENAI_TIMEOUT_MS=75000
ANALYZE_RATE_LIMIT_PER_MINUTE=10
ANALYZE_MAX_INPUT_CHARACTERS=16000
NEXT_PUBLIC_DEMO_MODE=true
VIES_LIVE_ENABLED=false
VIES_ENDPOINT_URL=
VIES_TIMEOUT_MS=5000
VIES_RATE_LIMIT_PER_MINUTE=30
